/* *** GLOBAL STYLES *** */

:root {
  --main-text-color: #778DA9;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1B263B;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 85px;
  padding-right: 85px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 80px;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

h2 {
  margin-top: 40px;
  font-size: 30px;
  color: var(--main-text-color);
  font-family: 'Press Start 2P', cursive;
}

h3 {
  text-align: center;
  font-size: 40px;
  color: var(--main-text-color);
}

/**** NAV STYLING *** */
.logo {
  height: 75px;
  width: 75px;
  float: left;
  padding: 10px 0;
}

.nav-container {
  width: 80%;
  margin:0 auto;
  font-family: 'Press Start 2P', cursive;
}

header {
  background: var(--main-text-color);
  z-index: 10;
  top: 0;
  position: sticky;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
}

nav a {
  color: #E0E1DD;
  text-decoration: none;
  text-transform: uppercase;
}

.fancy-link {
  position: relative;
  text-align: center;
}

.fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 100ms ease-in;
}

.fancy-link:hover::after {
  height: 3px;
  transform: scaleX(1);
  transform-origin: left;
}

/* *** LANDING STYLING *** */

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  font-size: 2.5em;
  color: var(--main-text-color)
}

.social-icons a {
  text-decoration: none;
  color: var(--main-text-color)
}

.landing {
  padding-bottom: 75px;
}

.txt-rotate {
  font-weight: 100;
  font-family: monospace;
  color: rgb(18, 185, 18);
}

#twitter {
  transition: color 0.2s linear;
}

#github {
  transition: color 0.2s linear;
}

#linkedin {
  transition: color 0.2s linear;
}

#twitter:hover {
  color: #1DA1F2;
}

#github:hover {
  color: black;
}

#linkedin:hover {
  color: white;
}

/* *** ABOUT ME STYLING *** */

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 75px;
}

.final-about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 40px;
}

.fiveable-logo {
  display: inline-block;
  height: 48px;
  width: 96px;
  vertical-align: middle;
  transform: scale(1);
  transition: transform 0.2s ease;
}

.fiveable-logo:hover {
  transform: scale(1.125);
}

.pfp {
  display: block;
  transform: scale(1.5);
  border-radius: 100%;
  padding: 40px;
  padding-top: 120px;
}

.about-me-text {
  text-align: left;
  width: 90%;
}

.image-skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mario {
  background-image: url(./public/mario.gif);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: contain;
  color: var(--main-text-color);
}

.mario:hover {
  color: transparent;
  transition: 250ms ease;
}

.northeastern-red {
  width: 100%;
  background: red;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: contain;
  color: var(--main-text-color);
}

.northeastern-white {
  width: 100%;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: contain;
  color: var(--main-text-color);
}

.neu:hover span {
  color: transparent;
  transition: 350ms ease;
}

/* *** SKILLBAR STYLING *** */

.skill-bar-container {
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: whitesmoke;
  margin-bottom: 1.5em;
}
.skill-bar-container .skill-bar {
  display: block;
  border-radius: 4px;
  height: 35px;
}
.skill-bar-container .skill-bar.level1 {
  width: 33%;
  background-color: var(--main-text-color);
}
.skill-bar-container .skill-bar.level2 {
  width: 67%;
  background-color: var(--main-text-color);
}
.skill-bar-container .skill-bar.level3 {
  width: 100%;
  background-color: var(--main-text-color);
}

.skill-bar-container .skill-name {
  position: absolute;
  top: 25%;
  left: 10px;
  color: #333;
}
.skill-bar-container .skill-level {
  position: absolute;
  top: 25%;
  right: 10px;
  color: #333;
}


/* *** PORTFOLIO STYLING *** */

#portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#portfolio h1 {
  margin-bottom: 50px;
}

#portfolio .github-head {
  margin: 0;
}

/* *** PORTFOLIO CARD STYLING *** */

.tile {
  width: 30%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5em;
}

.tile .front, .tile .back {
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  position: absolute;
  overflow: hidden;
  text-align: center;

}

.tile h3, .tile p, .tile a {
  padding: 0 20px;
}
.tile img {
  max-height: 50%;
  width: 100%;
}
.tile .front {
  background: #fff;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.tile .front h3 {
  color: white;
  font-size: 2vw;
  text-shadow: 0 0 5px #000;
  margin-top: -25%;
  margin-bottom: 25%;
}
.tile .back {
  background: black;
  color: white;
  z-index: 0;
  padding-top: 50px;
  height: 100%;
}
.tile .back h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 0;
}
.tile .back a {
  display: block;
  font-size: 1.2em;
  color: white;
  margin: 0 20px;
  padding: 0.5em 0;
}
.tile:hover .front {
  top: -300px;
  transform: rotate(2.5deg);
}

.tile ul {
  list-style: none;
  padding: 0;
}

.tile li {
  margin-bottom: 10px;
}

.back-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  height: 100%;
}

/* *** CONTACT STYLING *** */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.contact-form-container {
  width: 80%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input,
.msg .area {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 200px;
}

.contact-submit {
  width: 250px;
  background: #486255;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  align-self: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}

.area {
  resize: none;
}

input[type="text"]
{
    font-family: "Work Sans", sans-serif;
}

.input::placeholder {
  font-family: "Work Sans", sans-serif;
}

.err-msg {
  align-self: center;
  font-size: 1.25em;
  color: rgb(204, 8, 8);
}

textarea {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
}

/* *** MEDIA QUERIES *** */

@media screen and (max-width: 1200px) {
  header {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .tile {
    width: 80%;
  }
  .tile .front h3 {
    font-size: 3vh!important;
    margin-bottom: 1.75em!important;
    margin-top: -2.5em!important;
  }

  .tile .front p {
    font-size: 1.2vh!important;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }
}

/* *** MISC STYLING *** */

.bi-flag {
  color: var(--main-text-color);
  background: linear-gradient(90deg,#D60270, #9B4F96, #0038A8);
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 250ms ease;

  text-decoration: underline;
}

.bi-flag:hover {
  color: transparent;
  transition: 500ms ease;
}

.github {
  color: var(--main-text-color);
  text-decoration: underline;
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 250ms ease;
}

.github:hover {
  color: transparent;
  transition: 500ms ease;
}

* {box-sizing:border-box}

/* Slideshow container */
.gallery {
  max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: floralwhite;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: -50px;
}

/* Position the "next button" to the right */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.resume-skills {
  color: var(--main-text-color);
}
